@{
	ViewBag.Title = "Контакты";
}

<h1 >@ViewBag.Title </h1>

<address>
	Автор: Шипицин Максим<br/>
</address>

<address>
	<strong>Почта:</strong> <a href="mailto:kyngfy-panda@yandex.ru">kyngfy-panda@yandex.ru</a><br/>
</address>